@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-title: "DM Serif Display", serif;
  --font-body: "Manrope", sans-serif;

  --color-primary: #0F4035;
  --color-accent: #C98528;
  --color-background: #F7F3EA;
  --color-background-secondary: #EFE8DA;
  --color-border: #E6DED1;
  --color-text: #280B06;
  --color-text-secondary: #7A746B;

  --color-beer-foam: #F7F0C7;
  --color-beer-straw: #FCE883;
  --color-beer-gold: #F6C101;
  --color-beer-amber: #D38C08;
  --color-beer-copper: #9A4204;
  --color-beer-brown: #5A2202;
  --color-beer-black: #280B06;
}

@layer base {
  body {
    @apply bg-background font-body text-text;
  }
}
